html, body {
  padding: 0px;
  margin: 0px;
  height:100%;
}
 
body {
	background-color: #efe8da ;
	font-family: 'Century Gothic';
}

#menu{
	height: 80px;
	width:100%;
	background-color: black;
	margin:0px;
	padding:0px;
}

#holder{
	height: auto;
	width: 450px;
	float: right;
}

#holder, a{
	margin-left: 60px;
	margin-top: 30px;
	color: #909090;
	font-size: 11pt;
	text-decoration: none;
}

#home{
	height: 600px;
	width:100%;
	background-image: url('/static/img/bg.png');
	background-repeat: no-repeat;
	background-size:   cover;  
	/* background-size: 100%; */
	margin:0px;
	padding:0px;
}

#test{
	height: 50%;
	max-height:200px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
	
	color: #fff;
	text-align: center;
	font-family: 'Chaparral Pro';
	font-size: 70pt;
}

#tst{
	font-size: 18pt !important;
	font-family: 'Century Gothic' !important;
	font-style: italic;
}

#products-holder{
	width: 100%;
	height: 500px;
	background-color:blue;
}

#jack{
	height: 100px;
	width: 100px;
	background-color: red;
}

#products-slider{
	width: 100%;
	height: 200px;
	background-color: #e2dbcf;
}